*{box-sizing: border-box;
 }


body{font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin: 15px 30px;
     font-size:  19px;
     padding: 10px;
    }


.container{background-color: #eae5e5f3;
           padding: 5px 20px 15px 20px;
           border: 1px solid rgb(0, 0, 0);
           border-radius: 5px;  
        }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{width: 100%;
        padding: 12px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        margin: 15px;
        }


 fieldset{background-color: #ffffff; 
         border: 1px solid black;
        }

.main_heading{color: rgb(0, 0, 0);
              text-align: center;
              font-size: 300%
            }
   
input[type="SUBMIT"],
area{background-color:rgb(12, 163, 145);
     padding: 15px 20px;
     margin: 2px;
     border: none;
     color: white;
     font-size: 100%;
     cursor:pointer;
     width: 40%;
     font-weight: bold;
    }

input[type="RESET"]:hover{
        background-color: #ea3939;
        color:rgb(255, 255, 255);
 
 }

 input[type="RESET"],
 area{background-color: rgb(255, 255, 255);
      font-weight: bold;
      padding: 15px 20px;
      border: none;}

 